<!-- Replace all code under this line with your copied script -->
<title>Puzzle Alarm</title>
<meta name="viewport" content="width=device-width, initial-scale:1.0">
<link rel="stylesheet" href="/css/index.css">
<meta charset="utf-8">
<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>