<html>
<head>
	<title>Welcome to Solve for Silence!</title>
	<meta name="viewport" content="width=device-width, initial-scale:1.0">
	<link rel="stylesheet" href="/css/index.css">

</head>
<body>
	<body>
		<h1> Please Sign-Up/Sign-In! </h1>
		<form action="/action_page.php" method="get">
		<h4>Login </h4>
		<p5>Username: </p5>
		<input type="text" Email adress=""> </br> </br>
		<p6>Password: </p6>
		<input type="password" > </br>
		<nav>
			<!--<input class="sne" type="button" value="Login">  -->
			<a href="/index/" <a/>
		</nav>

		</form>
		<h4> Log In! </h4>
			<fb:login-button id="fbBut" scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
	</body>
</body>
</html>
