<html>
<head>
	<title>Solve the Puzzle</title>
	<meta name="viewport" content="width=device-width, initial-scale:1.0">
	<link rel="stylesheet" href="/css/index.css">

	<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="/js/player.js"></script>
	<script type="text/javascript">
		function exitPuzzle() {
			window.location.href = "/index";
		}
	</script>
</head>
<body>
	<audio id="musicPlayer"  autoplay loop>
  		<source src="/music/{{songPath}}" type="audio/mpeg">
  		Audio file not compatible.
	</audio>

	<div class="container">
		<div id="questionBox">
			<span id="exit" onclick="exitPuzzle()" style="visibility:{{visible}}">EXIT</span>

			<p id="question" class="buttonText"><span id="solution" style="visibility:hidden"></span></p>
			
			<div id="choiceBox">
				<div class="choice" id="a">
					<p class="buttonText"></p></div>
				<div class="choice" id="b">
					<p class="buttonText"></p></div>
				<div class="choice" id="c">
					<p class="buttonText"></p></div>
				<div class="choice" id="d">
					<p class="buttonText"></p></div>
			</div>
			<p class="buttonText" id="ans_output"></p>
			<div id="countBox">
				<div id="count1" class="count"></div>
				<div id="count2" class="count"></div>
				<div id="count3" class="count"></div>
			</div>
		</div>
	</div>
</body>
</html>
