#alarmsBox {
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;

}

#cancel {
  
  bottom: 0px;
}

#countBox {
  position: relative;
  left:0px;
  bottom: 10px;
  text-align: center;
}

#exit {
  position: relative;
  top:10;

  text-align: center;
  vertical-align: middle;
  padding: 10px;
  font-size: 100%;
  letter-spacing: 5px;
  color: rgb(255,255,255);

  font-family: sans-serif;


  background-color: rgb(10,10,10);
}

#help {

  bottom:0;
}

#options {
  max-height: 15%;
  bottom: 15vw;
}

#questionBox {
  height:100%;
  background-color: rgb(80,80,80);
}

.addAlarmButtonText {
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  font-size: 150%;
  letter-spacing: 5px;
  color: rgb(255,255,255);

  font-family: sans-serif;
}

.practiceButtonText {
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  font-size: 150%;
  letter-spacing: 5px;
  color: rgb(255,255,255);

  font-family: sans-serif;
}

.alarm {
  width: 100%;
  height: intrinsic;
  height: -moz-max-content;
  height: -webkit-fit-content;
  float: left;
  background-color: rgb(140,140,140);
}

.bigButton {
  height: 10%;
  background-color: rgb(100,100,100);
}

.buttonText {
  text-align: center;
  vertical-align: middle;
  padding: 0 0;
  font-size: 150%;
  letter-spacing: 5px;
  color: rgb(255,255,255);

  font-family: sans-serif;
}

.choice {
  float:left;
  background-color: rgb(100,100,100);
  height:10%;
  width:40%;
  margin: 5%;
}

.choice .buttonText {
  margin: 0px;
}

.count {
  display: inline-block;
  margin: 20px 5px;
  height: 40px;
  width: 40px;
  background-color: red;
}

@media screen and (max-width: 600px) {
  .choice {
    width: 100%;
    margin: 3% 0;
  }
}

.dateText {
  float:right;
  width:50%;
  height:10%;
  font-size: 100%;
  letter-spacing: 5px;
  color: rgb(255,255,255);

  font-family: sans-serif; 
}

.dot {
  position:absolute;
  margin:5px;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.indentBlock {
  margin-left: 4%;
  width:auto;
}

.on, .editLink {
  background-color: rgb(30,30,30);
  width:30%;
  height:20%;
  float: left;
}


.off {
  background-color: rgb(40,40,40);
  width:25%;
  height:20%;
  float: left;
}

.daysText {
  width: 35%;
  padding-left: 10%; 
  padding-top: 1%;
  vertical-align: middle;
  float: left;
  height:10%;
  left:10%;
  font-size: 125%;
  letter-spacing: 3px;
  color: rgb(255,255,255);

  font-family: sans-serif;
}

.exitText {
  padding-right: 5%; 
  padding-top: 0%;
  width: 20px;
  vertical-align: middle;
  float: right;
  font-size: 200%;
  letter-spacing: 3px;
  color: rgb(70,70,70);

  font-family: sans-serif;
}

.nameText {
  text-align: center;
  padding-top: 2%;

  float: left;
  width:100%;
  height:10%;
  font-size: 100%;
  letter-spacing: 5px;
  color: rgb(255,255,255);

  overflow: hidden;
  font-family: sans-serif;
}

.sne {
  height: 10%;
  background-color: rgb(100,100,100);
  width: 100%;

  text-align: center;
  padding: 1% 0;
  font-size: 30px;
  letter-spacing: 5px;
  color: rgb(255,255,255);
  font-family: sans-serif;
}

.timeText {
  width: 40%;
  padding-left: 5%; 
  vertical-align: middle;
  width: 50%;
  float: left;
  height:10%;
  left:10%;
  font-size: 175%;
  letter-spacing: 5px;
  color: rgb(255,255,255);

  font-family: sans-serif;
}

#fbBut{
  position: absolute;
  text-align: center;
}

.p{
  text-align: center;
}

h4 {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

h3 {
  left: 5px;

  text-align: center;
}

a {
  text-decoration: none;
}

div {
    width: 100%;
}

body {
  background-color: rgb(200,200,200);
}

form {
  font-size: 150%;
  line-height: 150%;
  letter-spacing: 2px;
  color: rgb(5,5,5);

  font-family: sans-serif; 
}