

#sne {
  height: 10%;
  background-color: rgb(100,100,100);
  width: 100%;

  text-align: center;
  padding: 1% 0;
  font-size: 30px;
  letter-spacing: 5px;
  color: rgb(255,255,255);
  font-family: sans-serif;
}

#cancel {
  
  bottom: 0px;
}

#help {

  bottom:0;
}

#options {
  max-height: 15%;
  bottom: 15vw;
}

#alarmsBox {
  height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bigButton {
  height: 10%;
  background-color: rgb(100,100,100);
}

.on {
  background-color: rgb(30,30,30);
  width:15%;
  height:20%;
  float: left;
}

.off {
  background-color: rgb(40,40,40);
  width:15%;
  height:20%;
  float: left;
}
.alarm {
  width: 69%;
  height: 20%;
  float: left;
  background-color: rgb(140,140,140);
}

.buttonText {
  text-align: center;
  padding: 2% 0;
  font-size: 30px;
  letter-spacing: 5px;
  color: rgb(255,255,255);

  font-family: sans-serif;
}

.timeText {
  text-align: center;
  padding: 0 0;
  margin: 15px;
  font-size: 30px;
  letter-spacing: 5px;
  color: rgb(255,255,255);

  font-family: sans-serif;
}

a {
  text-decoration: none;
}

div {
    width: 100%;
}

body {
  background-color: rgb(200,200,200);
}